@model WebApplicationFormation.Models.Module

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="titre-module">
    <h2>@Html.DisplayFor(model => model.Resume)</h2>
    <img src="~/Images/@Model.Logo" />
</div>


<div>

    <hr />
    <dl class="dl-horizontal" id="detail">

        <dt>
            @Html.DisplayNameFor(model => model.Prerequis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prerequis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbHeures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbHeures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objectifs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objectifs)
        </dd>

    </dl>
</div>
<p>
    @if ((Session["roleUtilisateur"] != null) && Session["roleUtilisateur"].Equals("Admin"))
    {
        @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) @Html.Raw("|")
    }
    @Html.ActionLink("Retour à liste des modules", "Index")
</p>
