@model IEnumerable<WebApplicationFormation.Models.Module>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des modules</h2>

<p>
    @if ((Session["roleUtilisateur"] != null) && Session["roleUtilisateur"].Equals("Admin"))
    {
        @Html.ActionLink("Ajouter un module", "Create")
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prerequis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbHeures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objectifs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Resume)
        </td>
        <td>
            <img src="~/Images/@item.Logo" alt="Logo @item.Resume" style="width:4vw;height:4vh;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prerequis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbHeures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objectifs)
        </td>
        <td>

            @if ((Session["roleUtilisateur"] != null) && Session["roleUtilisateur"].Equals("Admin"))
            {
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id })
                @Html.Raw(" | ")

                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                @Html.Raw(" | ")

            }

            @Html.ActionLink("Details", "Details", new { id = item.Id })

        </td>
    </tr>
}

</table>
