<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index" class="navbar-brand" style="display:flex;">
                    <img src="~/Images/logopolyform.jpg" id="icone-appli" style="margin-right: 2vw; " />
                    @System.Configuration.ConfigurationManager.AppSettings["NomSite"]
                </a>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sessions", "Index", "Sessions")</li>
                    <li>@Html.ActionLink("Parcours", "Index", "Parcours")</li>
                    <li>@Html.ActionLink("Modules", "Index", "Modules")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="mainBody">
            @RenderBody()
        </div>
        <hr />
    </div>
    <footer>
        <p>@Html.ActionLink("Mentions légales", "MentionsLegales", "Home")</p>
        <p>@Html.ActionLink(System.Configuration.ConfigurationManager.AppSettings["NomSite"], "Index", "Home")</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
