@model WebApplicationFormation.Models.Session

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Nom)</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbPlacesTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPlacesTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parcours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parcours.Designation)
        </dd>

    </dl>
    <hr />
    <p>Ce parcours est composé des modules suivants :</p>
    <ul class="no-style">
        @foreach (WebApplicationFormation.Models.Module module in Model.Parcours.Modules)
        {
            <li><a href="/Modules/Details/@module.Id">@module.Resume</a></li>
        }
    </ul>
</div>
<p>
    @if ((Session["roleUtilisateur"] != null) && Session["roleUtilisateur"].Equals("Admin"))
    { 
        @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) @Html.Raw("|")
    }
    @Html.ActionLink("Retour à la liste des sessions", "Index")
</p>
